<a href="https://colab.research.google.com/github/TonyMendes/TestingPython/blob/main/My_firstPY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
print("Hello world ")

Hello world

In [39]:
mynum = 2293

In [40]:
mynum.bit_length

In [41]:
mynum.__eq__(2056)

False

In [42]:
import inspect

In [43]:
def addSomething(value1, value2):
  return value1 + value2
# call the function
print(addSomething(5,2))

7

In [48]:
YourName = "Tony " # @param {"type":"string"}
print(f"your name is:{YourName}")

your name is:Tony

#things to do
> - one
>> - two
> - three